/* * {
  box-sizing: border-box;
} */
/* div {
  height: 100px;
  background: pink;
  width: 100px;

  border: 2px solid brown;

  padding: 1px 2px 3px 4px;
  margin-top: 100px;
} */

/* * {
  margin: 0;
  padding: 0;
}

#nav {
  height: 60px;
  background-color: #0f1111;
} */

div {
  height: 100px;
  width: 100px;
  margin: 25px;
  padding: 25px;
  display: inline-block;
}
.one {
  background: rgba(0, 0, 255, 0.5);
}

.two {
  background-color: rgba(0, 0, 255, 0.7);
}

.three {
  background-color: rgba(0, 0, 255, 1);
}
